* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}


.typewriter {
  font-size: 24px;
  font-family: monospace;
  border-right: 3px solid black;
  display: inline-block;
  font-weight: bold;
  color: rebeccapurple;
  font-size: 70px;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
}

.navbar .logo a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

.navbar .nav-links {
  list-style-type: none;
  display: flex;
}

.navbar .nav-links li {
  margin: 0 15px;
}

li{
  background-color: red;
  color: black;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.navbar .nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
}

.hamburger span {
  background-color: #fff;
  height: 4px;
  width: 25px; 
  margin: 5px 0;
}

@media screen and (max-width: 768px) {

  .navbar .nav-links {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .navbar .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  .typewriter {
    font-size: 32px;
  }

}




#main-type {
  display: flex;
  justify-content: center;
  margin-top: 30px;

}

/*@media screen and (max-width: 768px) {

  #main-type {
    font-size: 300px;
  }
}